/*-----body-----*/
body{
    background-color: #EAF2F8 ;
}

/*-----header-----*/

#main-body{
    max-width: 960px ;
    margin: auto ;
}

#header{
    max-width : 960px;
    margin: auto ;
    background-color: black;
    height: 20vh ;
    position: relative ;
}

#name{
    font-size : 25px ;
    font-family: Merriweather ;
}

#branch:hover{
    color: red ;
}

#branch a:link { text-decoration: none;}
#branch a:visited { text-decoration: none; color: white}
#branch a:hover { text-decoration: none; color:red}
#branch a:active { text-decoration: none; color: blue ;}


#name:hover{
    color: yellow;
}

@keyframes changeShape{
    from{
        border-radius: 50% ;
    }
    to{
        border-radius: 0% ;
    }
}

#header-img img:first-child{
    display: block ;
    position: absolute;
    right: 5% ;
    height : 100px ;
    width : 100px ;
    border-radius: 50% ;
    margin: 20px ;
    border: 2.5px solid #EAF2F8;
    animation: changeShape 1s ease-in-out infinite alternate ;
}

#header-img img:last-child{
    display: none ;
}

#header-img:hover img:last-child{
    display: block ;
    position: absolute;
    right: 5% ;
    height : 100px ;
    width : 100px ;
    border-radius: 50% ;
    margin: 20px ;
    border: 2.5px solid #EAF2F8;
    animation: changeShape 1s ease-in-out infinite alternate ;
}

#header-img:hover img:first-child{
    display: none ;
}

#heading{
    color : aliceblue ;
    position: absolute ;
    left: 5% ;
    float: left ;
    padding: 0px ;
    font-family : monospace ;
}

#heading-p{
    left: 3% ;
    top: 40% ;
    position: absolute ;
    float: left ;
    padding: 20px ;
    color: aliceblue ;
    font-family: monospace ;
}

/*-----menu-----*/
#menu a:link { text-decoration: none; color: black ;}
#menu a:visited { text-decoration: none; color: black ;}
#menu a:hover { text-decoration: none; color: blue; transition: color 0.2s ;}
#menu a:active { text-decoration: none; color: red;}

#menu{   
    display: flex;
    max-width : 960px;
    margin: 0px ;
    background-color: gainsboro;
    height: 30px ;
    position : relative; 
    font-family : monospace ;
    padding-left: 0px ;
}

#menu-items{
    flex: 1 1 auto ;
    padding-top: 5px ;
    padding-bottom: 0px ;
    text-align: center ;
    font-family : monospace ;
    font-size: 1rem ;
    text-decoration: none ;
    display: inline-block ;
}

#menu-items:hover{
    font-weight: bold !important ;
    font-size: 1.1rem !important ;
    text-decoration: underline !important ;
    background-color: aliceblue !important ;
}

/*-----main-----*/
#mains{
    max-width : 960px;
    margin: auto ;
    background-color: white;
    position: relative ;
    height: auto ;
    margin-top: 0px ;
    border-bottom: double ;
}

#mains p{
    margin: auto ;
}

#exp{
    display: none ;
}

#ed{
    display: none ;
}

.eds{
    border-bottom: double ;
    background-color: white ;
    display: flex ;
    height : 40vh ;
}

.ed-pic{
    height : 40vh ;
    width : 50% ;
}

.ed-info{
    flex-grow: 1 ;
    font-family: monospace;
    text-align: center ;
    display: inline-block ;
}

.ed-head{
    margin-top: 10px !important;
    font-size: 1rem ;
    font-weight: bolder ;
}

.stud{
    text-align: left ;
    margin: auto ;
    margin-top: 10px ;
    border : 0px ;
}

#ab{
    display: none ;
}

#c{
    display: none ;
}

.mains-head{
    margin-top: 0px ;
    padding-top: 30px ;
    text-align: center ;
    font-size: 1.5rem ;
}

/*-----Bottom-----*/

#bottom{
    max-width : 960px;
    margin: auto ;
    margin-top: 20px ;
}

#contacts{ 
    font-family: monospace ;
    display: flex;
}

#contacts a:link { text-decoration: none; color: blue ;}
#contacts a:visited { text-decoration: none; color: blue ; }
#contacts a:hover{text-decoration: underline ;}
#contacts a:active { text-decoration: none; color: red ;}

#right-cont{
    display: flex ;
    flex-wrap: wrap ;
    flex-direction: column ;
    margin: 20px ;
    margin-left: 80px ;
    margin-top: 0px ;
    flex-grow: 1 ;
}

#right-cont p{
    margin-bottom: 0px ;
}

.social{
    flex-grow: 1 ;
    display: inline ;
    padding-left: 0px ;
}

.social li{
    display: inline-block ;
    margin: 0px ;
}

.social img{
    height : 20px ;
    width : 20px ;
    padding: 3px ;
    text-decoration: none ;
    display: inline-block;
}

#link img:last-child{
    display: none ;
}

#link:hover img:first-child{
    display: none ;
}

#link:hover img:last-child{
    display: inline;
}

#insta img:last-child{
    display: none ;
}

#insta:hover img:first-child{
    display: none ;
}

#insta:hover img:last-child{
    display: inline;
}

#twit img:last-child{
    display: none ;
}

#twit:hover img:first-child{
    display: none ;
}

#twit:hover img:last-child{
    width: 22px ;
    display: inline;
}

#git img:last-child{
    display: none ;
}

#git:hover img:first-child{
    display: none ;
}

#git:hover img:last-child{
    display: inline;
}

#sf img:last-child{
    display: none ;
}

#sf:hover img:first-child{
    display: none ;
}

#sf:hover img:last-child{
    display: inline;
}

#q img:last-child{
    display: none ;
}

#q:hover img:first-child{
    display: none ;
}

#q:hover img:last-child{
    display: inline;
}

#bottom-line{
    font-size: 0.75rem ;
    font-family: monospace;
    display: flex ;
    justify-content: flex-end ;
}

#bottom-line p{
    margin-bottom: 0px ;
}

#bottom-line a:link { text-decoration: none; color: blue ;}
#bottom-line a:visited { text-decoration: none; color: blue ; }
#bottom-line a:hover{text-decoration: underline ;}
#bottom-line a:active { text-decoration: none; color: red ;}

#form p{
    font-size: 1.2rem ;
    margin-top: 0px; 
    margin-bottom: 10px ;
    text-align: center ;
}

#form-butt{
    position: fixed ;
    height : 50px ;
    width : 50px ; 
    margin-top: -375px ;
    margin-left: 90vw ;
}

#form{
    display : none ;
    font-size : 1rem ;
    width : 16vw ;
    background-color: oldlace;
    font-family: monospace ;
    font-weight: bold ;
    position :fixed ;
    margin-top : -630px ;
    margin-left : 82vw ;
}

#mname{
    width: 70% ;
    margin-left: 8% ;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    padding: 2px ;
    background-color: #f8f8f8;
}

#email{
    width: 70% ;
    margin-left: 2% ;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    padding: 2px ;
    background-color: #f8f8f8;
}

#message{
    width:100%;
    height:100px ; 
    padding: 2px ;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}

#sub-butt{
    margin-left: 40% ;
    margin-bottom: 10px ;
    border-radius: 7px ;
    text-align: center ;
}


